.center {
  text-align: center;
}

td a {
  color: rgb(0,0,139);
  // text-decoration: underline;
  font-size: 125%;
}

.parallax-container {
  min-height: 600px;
  max-height: 600px;
}

.opacity {
  background: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  opacity: .7;
  // z-index: -10;
  // font-size: 32px;
}

p {
  font-size: 125%;
}

.card {
  font-size: 75%;
  height: 60%;
}