<header>  
  <nav class=" indigo darken-2">
    <div class="container">
    <div class="nav-wrapper">
      <%= link_to "ICOModeling", root_path, class:' brand-logo' %>
      <ul id="nav-mobile" class="right">
        <% if current_user %>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
    </div>
  </nav> 
</header>