<header>  
  <nav class=" blue darken-4 opacity ">
    <div class="container">
    <div class="nav-wrapper">
      <%= link_to "ICOModeling", root_path, class:' brand-logo' %>
      <ul id="nav-mobile" class="right">
        <% if current_user %>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% end %>
        <li>Popular ICOs:</li>
        <% @icos.each do |ico| %>
          <% if ico != @ico %>
            <li><b><%= link_to ico.name, ico %></b></li>
          <% end %>
        <% end %>
        
        <li><b><%= link_to 'Stories', posts_path %></b></li>
      </ul>
    </div>
    </div>
  </nav> 
</header>
<div class="center">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- leader -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:970px;height:90px"
       data-ad-client="ca-pub-2098144598680631"
       data-ad-slot="9542278256"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>